
@using Vidly_2.Models
@model Movie
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<table style="width: 100%" >
    <tr >
         <th padding: 15px>Movie</th>
    </tr>
    <tr>
        <td padding: 15px>Shrek</td>
    </tr>    
    <tr>  
        <td padding: 15px>Ice Age</td> </tr>
    
        
   

</table>



